{% extends "layout.html" %}

{% block body %}
<b>Note: Only the moves that have been added to the database can be used on new pokemon. If you wish to use add other moves on new pokemon, add the moves
  to the database before adding the pokemon.
</b>
<br/><br/>
<h3>Pokemon List</h3>
  <table class="table table-striped table-light bg-warning">
    <tr>
      <th scope="col">Pokemon</th>
      <th scope="col">CP</th>
      <th scope="col">IV</th>
      <th scope="col">Trainer</th>
      <th scope="col">Fast Move</th>
      <th scope="col">Charge Move</th>
      <th scope="col">Type 1</th>
      <th scope="col">Type 2</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    {% for pokemon in pokemonlist %}
    <tr>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.cp }}</td>
      <td>{{ pokemon.iv }}</td>
      <td>{{ account.get(pokemon.account_id).username }}</td>
      <td>{{ pokemon.fast_move_name() }}</td>
      <td>{{ pokemon.charge_move_name() }}</td>
      <td>{{ pokemon.first_type_name() }}</td>
      <td>{{ pokemon.second_type_name() }}</td>
      <td>
          <form method="GET" action="{{ url_for('pokemon_view', pokemon_id=pokemon.id) }}">
            <input type="submit" value="View"/>
          </form>
        </td>
      <td>
        <form method="GET" action="{{ url_for('pokemon_update_form', pokemon_id=pokemon.id) }}">
          <input type="submit" value="Update"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('pokemon_delete', pokemon_id=pokemon.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br/>
  <h3>Move List</h3>
  <table class="table table-striped table-light bg-warning">
    <tr>
      <th scope="col">Move</th>
      <th scope="col">Damage</th>
      <th scope="col">Is Charged</th>
      <th scope="col">Bars</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    {% for move in movelist %}
    <tr>
      <td>{{ move.name }}</td>
      <td>{{ move.damage }}</td>
      <td>{{ move.isChargeMoveBoolean() }}</td>
      <td>{{ move.bars }}</td>
      <td>{{ move.first_type_name() }}</td>
      <td>
        <form method="GET" action="{{ url_for('move_view', move_id=move.id) }}">
          <input type="submit" value="View"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('move_update_form', move_id=move.id) }}">
          <input type="submit" value="Update"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('move_delete', move_id=move.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br/>
  <h3>Highest CP:</h3>
  <ul>
    {% for pokemon in highest_cp %}
    <li>
      {{pokemon.name}} {{pokemon.cp}} {{pokemon.iv}}
    </li>
    {% endfor %}
  </ul>
  <br/>
  <h3>Highest IV:</h3>
  <ul>
    {% for pokemon in highest_iv %}
    <li>
      {{pokemon.name}} {{pokemon.cp}} {{pokemon.iv}}
    </li>
    {% endfor %}
  </ul>
  {% if current.is_authenticated: %}
  <h3>Most Common Move Of The Trainer</h3>
  <p>
    {{ commonmoves }}
  </p>
  {% endif %}
{% endblock %}
