{% extends "layout.html" %}

{% block body %}

  <h3>PokeStop List</h3>
  <table class="table table-striped table-light bg-warning">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    {% for stop in stoplist %}
    <tr>
      <td>{{ stop.name }}</td>
      <td>{{ stop.city }}</td>
      <td>
        <form method="GET" action="{{ url_for('stop_view', stop_id=stop.id) }}">
          <input type="submit" value="View"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('stop_update_form', stop_id=stop.id) }}">
          <input type="submit" value="Update"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('stop_delete', stop_id=stop.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}